@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(37, 150, 190);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url("https://www.azcentral.com/gcdn/-mm-/95cc893e31eeab35a71337fe6a112d46f84344cf/c=1372-0-2628-1675/local/-/media/2016/03/01/Phoenix/Phoenix/635924657937624242-zoo2.jpg");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

